*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
}

.wrapper{
    width: 100%;
    background: #fafafa;
}

.title{
    width: 90%;
    padding: 4rem 0 0 0.8rem;
    margin-bottom: 3rem;
}

.title h2{
    font-family: PT Serif;
    font-size: 2.2rem;
    letter-spacing: -0.045rem;
    line-height: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.about h3{
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #000;
    margin-bottom: .5rem;
}

.about p{
    font-family: Poppins;
    font-size: .8rem;
    width: 80%;
    font-weight: normal;
    line-height: 1.3rem;
}

.container{
    display: grid;
    margin: 0 .8rem;
    grid-gap: 1rem;
}

.img-container{
    width: 100%;
}

.mask-group{
    display: flex;
}

.mask-group img{
    width: 100%;
}

.right{
    grid-column: 2;
    margin-top: 3rem;
}

.member-role{
    writing-mode: vertical-rl;
    font-family: PT Serif;
    font-size: 1rem;
}

.member-name{
    font-family: Poppins;
    font-weight: 600;
    line-height: .5rem;
    margin-top: .5rem;
}


#footer{
    width: 60%;
    margin: 4rem auto;
    text-align: center;
    margin-bottom: 0;
    font-family: Montserrat;
    color: #a9a9a9;
    font-size: .8rem;
    line-height: 1.1rem;
    padding-bottom: 4rem;
    /* margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center; */
}

@media screen and (min-width: 767px){
    .title{
        display: flex;
        justify-content: space-around;
    }
    .title h2{
        font-size: 3rem;
        line-height: 3rem;
    }

    .about{
        width: 30%;
    }

    .about h3{
        font-size: 1.8rem;
        line-height: 3rem;
        letter-spacing: -4.5%;
    }

    .about p{
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        width: 90%;
        margin: 3rem auto;
    }

    .right{
        grid-column: auto;
        margin: 0;
    }

    .middle{
        margin-top: 3rem;
    }

    .img-container{
        width: 80%;
    }

    .member-name{
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .member-role{
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2rem;
    }
}


